<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style6.css') }}">
    <title>Customer Login</title>
</head>
<body align="center">
    <div class="login-box">
		<h1>Customer Login</h1>
        <br>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <p style="color:red;"><strong><mark>{{ message }}</mark></strong></p>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form action="transaction" method="post">
            <input type="hidden" name="type" value="existing">
            <div class="textbox">
                <label for="acc_num">Account Number:</label>
                <input type="text" name="acc_num" value="" placeholder="Enter Account Number" required autocomplete="off">
            </div>
            <br>
            <input class="btn" type="submit" name="" value="Login">
        </form>
	</div>
</body>
</html>