<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style1.css') }}">
    <title>Member Zone</title>
</head>
<body align="center">
<div class="login-box">
    <h1>Strictly for Members</h1>
    <form action="new-user">
        <input type="submit" class="btn" name="" value="Register">
    </form>
    <form action="existing-user">
        <input type="submit" class="btn" name="" value="Log In">
    </form>
</div>
</body>
</html>