@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(img4.jpg) no-repeat;
	background-size: cover;
}
.login-box{
	width: 280px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;

}
.login-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #3fbf67;
	margin-bottom: 50px;
	padding: 13px 0;
}
.textbox i{
	width: 26px;
	float: left;
	text-align: center;

}
.btn{
	width: 100%;
	background: none;
	border:2px solid #3fbf67;
	color:white;
	padding:5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;

}